@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<div id="chart_div"></div>

<script>

    var data = [];
    var chart;

    google.charts.load('current', { packages: ['corechart', 'line'] });
    google.charts.setOnLoadCallback(loadChart);

    var hub = $.connection.ioTHub;
    $.connection.hub.start();

    hub.client.iotHubNotification = function (d) {
        console.log(d);
        var deviceMessage = JSON.parse(d);
        var deviceId = deviceMessage.deviceId;
        var strippedDeviceId = deviceId.replace("-", "");
        var time = deviceMessage.Time;
        var temp = deviceMessage.temperature;
        var tparts = ((time.split("T"))[1]).split(":");
        if ($("#chartslayer").find("chart_" + strippedDeviceId).length < 1) {
            $("#chartslayer").append("<div id='chart_" + strippedDeviceId + "'></div>");
        }
        data.addRows([[[parseInt(time[0]), parseInt(tparts[1]), parseInt(tparts[2])], temp]]);

        var options = {
            height: 250,
            hAxis: {
                title: 'Time'
            },
            vAxis: {
                title: 'Temperature',
                gridlines: { count: 22 } 
            }
        };

        chart.draw(data, options);
    };

    function loadChart(chartname) {
        data = new google.visualization.DataTable();
        data.addColumn('timeofday', 'Time');
        data.addColumn('number', 'Temperature');
        

        var options = {
            height: 250,
            hAxis: {
                title: 'Time'
            },
            vAxis: {
                title: 'Temperature',
                gridlines: { count: 22 } 
            }
        };

        chart = new google.visualization.LineChart(document.getElementById("chart_div"));
        chart.draw(data, options);
    }
</script>